@media (min-width: @mobile-width) {
  .about {
    margin-bottom: 58px;
  }

  .about__title {
    margin-top: 0;
    margin-bottom: 80px;
    margin-left: -9px;
  }

  .about__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .about__item {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    list-style-type: none;
    margin-bottom: 83px;
    margin-left: -9px;
    position: relative;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .about__item--eco::before {
    content: "";
    position: absolute;
    background-image: url("../img/eco.svg");
    background-repeat: no-repeat;
    width: 33px;
    height: 38px;
    top: -54px;
    left: 5px;
  }

  .about__item--price::before {
    content: "";
    position: absolute;
    background-image: url("../img/price.svg");
    background-repeat: no-repeat;
    width: 47px;
    height: 27px;
    top: -53px;
  }

  .about__item--likes::before {
    content: "";
    position: absolute;
    background-image: url("../img/likes.svg");
    background-repeat: no-repeat;
    width: 34px;
    height: 27px;
    top: -48px;
    left: 5px;
  }

  .about__item--handmade::before {
    content: "";
    position: absolute;
    background-image: url("../img/handmade.svg");
    background-repeat: no-repeat;
    width: 35px;
    height: 34px;
    top: -51px;
  }

  .about__item--native::before {
    content: "";
    position: absolute;
    background-image: url("../img/native.svg");
    background-repeat: no-repeat;
    width: 55px;
    height: 23px;
    top: -49px;
    left: -7px;
  }

  .about__item--gift::before {
    content: "";
    position: absolute;
    background-image: url("../img/gift.svg");
    background-repeat: no-repeat;
    width: 33px;
    height: 32px;
    top: -52px;
  }
}

@media (min-width: @tablet-width) {
  .about {
    padding: 0 50px;
    margin-bottom: -25px;
  }

  .about__title {
    margin-bottom: 98px;
    margin-left: 0;
  }

  .about__list {
    display: grid;
    grid-template-columns: 335px 335px;
  }

  .about__item {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 110px;
    margin-left: 1px;
  }

  .about__item--eco::before {
    left: 8px;
    top: -56px;
  }

  .about__item--handmade {
    order: 2;

    &::before {
      top: -53px;
    }
  }

  .about__item--price {
    order: 3;

    &::before {
      top: -54px;
    }
  }

  .about__item--native {
    order: 4;

    &::before {
      top: -53px;
    }
  }

  .about__item--likes {
    order: 5;
  }

  .about__item--gift {
    order: 6;

    &::before {
      top: -53px;
    }
  }
}

@media (min-width: @desktop-width) {
  .about__title {
    margin-bottom: 95px;
  }

  .about__list {
    grid-template-columns: 350px 350px;
  }
}
