@media (min-width: @mobile-width) {
  .about {
    margin-bottom: 58px;
  }

  .about__title {
    margin-top: 0;
    margin-bottom: 28px;
    margin-left: -7px;
  }

  .about__list {
    padding: 0;
    margin: 0;
    font-family: "Open Sans bold", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
  }

  .about__item {
    list-style-type: none;
    margin-bottom: 32px;
    margin-left: -7px;

    &:last-of-type {
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }
  }

  .about__item--eco svg {
    margin-bottom: 12px;
  }

  .about__item--price svg {
    margin-bottom: 20px;
  }

  .about__item--likes svg {
    margin-bottom: 19px;
  }

  .about__item--handmade svg {
    margin-bottom: 12px;
  }

  .about__item--native svg {
    margin-bottom: 23px;
  }

  .about__item--gift svg {
    margin-bottom: 16px;
  }
}

@media (min-width: @tablet-width) {
  .about {
    padding: 0 50px;
    margin-bottom: 25px;

    .title {
      align-self: flex-start;
      margin-bottom: 41px;
      margin-left: -1px;
    }
  }

  .about__list {
    display: grid;
    grid-template-columns: 330px 330px;
    font-size: 20px;
    line-height: 22px;
  }

  .about__item {
    margin-bottom: 60px;
    margin-left: 1px;
    letter-spacing: 0.1px;
  }

  .about__item--eco svg {
    margin-bottom: 14px;
  }

  .about__item--handmade {
    order: 2;

    svg {
      margin-bottom: 18px;
    }
  }

  .about__item--price {
    order: 3;
  }

  .about__item--native {
    order: 4;
  }

  .about__item--likes {
    order: 5;
  }

  .about__item--gift {
    order: 6;
  }
}

@media (min-width: @desktop-width) {
  .about .title {
    margin-left: -20px;
  }

  .about__item--eco {
    margin-left: -20px;

    svg {
      margin-top: -4px;
      margin-left: 6px;
    }
  }

  .about__item--price {
    margin-left: -20px;

    svg {
      margin-top: -8px;
    }
  }

  .about__item--likes {
    margin-left: -20px;

    svg {
      margin-top: -4px;
      margin-left: 4px;
    }
  }
}
