.contacts {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #444444;

  a {
    margin-bottom: 39px;
  }
}

.contacts__wrapper {
  padding-left: 29px;
  padding-right: 30px;
}

.contacts__list {
  margin-bottom: 62px;
}

.contacts__image {
  position: relative;
  margin-bottom: 42px;
}

.contacts__pin {
  position: absolute;
  top: 145px;
  left: 138px;
}

.contacts__description {
  a {
    text-decoration: none;
    color: #444444;
    border-bottom: 1px solid #62d1ba;
  }
}
