@media (min-width: @mobile-width) {
  .contacts {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #444444;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    margin-bottom: 39px;
  }

  .contacts__title {
    padding: 0 29px;
    margin: 0;
    margin-bottom: 27px;
  }

  .contacts__list {
    margin-top: 0;
    margin-bottom: 62px;
    display: flex;
    flex-direction: column;
    padding: 0 29px;
  }

  .contacts__image {
    margin-bottom: 42px;

    iframe {
      border: none;
      display: block;
      width: 320px;
      height: 454px;
    }
  }

  .contacts__item {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 35px;

    &:first-of-type {
      margin-bottom: 30px;
    }
  }

  .contacts__description {
    margin: 0;
  }

  .contacts__link {
    text-decoration: none;
    color: #444444;
    width: 230px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -3px;
      background-color: #46c1ae;
    }

    &:hover {
      color: #46c1ae;
    }

    &:active {
      border: none;
    }
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    font-size: 17px;
    line-height: 30px;
    padding: 0 50px;
    margin-bottom: 57px;
    position: relative;
  }

  .contacts__title {
    padding: 0 50px;
    margin-bottom: 47px;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/flag.svg");
      background-repeat: no-repeat;
      width: 47px;
      height: 81px;
      right: 103px;
      top: -25px;
    }
  }

  .contacts__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 49px;
    padding: 0 50px;
  }

  .contacts__item {
    column-gap: 25px;
  }

  .contacts__image {
    margin-bottom: 53px;

    iframe {
      width: 768px;
      height: 457px;
    }
  }

  .contacts__button a {
    width: 230px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    display: grid;
    grid-template-columns: 464px 527px;
    column-gap: 59px;
    grid-template-rows: auto auto auto;
    margin-bottom: 100px;
  }

  .contacts__title {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 76px;
    margin-bottom: 35px;
    margin-left: 173px;
    padding: 0;

    &::after {
      left: 113px;
      top: 60px;
    }
  }

  .contacts__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
    margin-left: 173px;
    margin-bottom: 82px;
    padding: 0;
  }

  .contacts__link::after {
    bottom: -9px;
  }

  .contacts__image {
    margin-bottom: 0;
    grid-column: 2/3;
    grid-row: 1/-1;

    iframe {
      width: 527px;
      height: 457px;
    }
  }

  .contacts__button {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 174px;
    margin-right: auto;
  }
}
