@media (min-width: @mobile-width) {
  .copyright {
    padding-top: 18px;
    padding-bottom: 22px;
  }

  .copyright__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      fill: #63d1bb;
    }

    &:hover svg {
      fill: #46c1ae;
    }

    &:active svg {
      opacity: 0.3;
    }
  }

  .copyright__text {
    display: block;
    margin: 0;
    margin-right: 27px;
    font-family: "Open Sans bold", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 18px;
    color: #000000;
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    padding: 0;
  }
}
