.filter__title {
  padding: 0;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 200px;
    top: 8px;
    left: 58px;
    background: #62d1ba;
  }
}

.filter__list {
  margin: 0;
  padding: 0;
}

.filter__item {
  list-style-type: none;
}
