@media (min-width: @mobile-width) {
  .filter__title {
    padding: 0;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 200px;
      top: 8px;
      left: 58px;
      background: #62d1ba;
    }
  }

  .filter__title--type {
    margin-bottom: 30px;
  }

  .filter__title--legend {
    margin-bottom: 25px;
  }

  .filter__list {
    margin: 0;
    padding: 0;
  }

  .filter__item {
    list-style-type: none;
  }

  .filter__item--radio:not(:last-child) {
    margin-bottom: 11px;
  }

  .filter__item--checkbox:not(:last-child) {
    margin-bottom: 23px;
  }

  .filter__item--checkbox:not(:nth-last-child(2)) {
    margin-bottom: 23px;
  }
}

@media (min-width: @tablet-width) {
  .filter {
    display: grid;
    grid-template-columns: 167px auto;
  }

  .filter__title {
    margin: 0;
    grid-column: 1/2;

    &::after {
      display: none;
    }
  }

  .filter__list {
    margin-top: -26px;
    grid-column: 2/3;
  }

  .filter__list--columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .filter {
    grid-template-columns: 112px auto;
  }
}
