.form {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.form__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin: 0;
  margin-bottom: 29px - 17px;
  color: #444444;
}

.form__group {
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
  legend {
    font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  }
}

.form__note {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}
