@media (min-width: @mobile-width) {
  .form-contacts {
    position: relative;
  }

  .form-contacts__title {
    padding: 0;
    position: relative;
    margin-bottom: 19px;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 200px;
      top: 8px;
      left: 58px;
      background: #62d1ba;
    }
  }

  .form-contacts__input {
    padding: 0;
    border: 0;
    box-shadow: inset 0 -2px 0 #000000;
    height: 52px;
    width: 100%;

    &:first-of-type {
      margin-bottom: 24px;
    }
  }

  .form-contacts__input::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    color: #000000;
    opacity: 0.3;
  }

  .form-contacts__label {
    position: absolute;
    right: 3px;
  }
}

@media (min-width: @tablet-width) {
  .form-contacts {
    display: grid;
    grid-template-columns: 167px 1fr;
  }

  .form-contacts__title {
    margin: 0;
    grid-column: 1/2;
  }

  .form-contacts__title::after {
    display: none;
  }

  .form-contacts__input {
    background-color: #f1f1f1;
    grid-column: 2/3;
    margin-top: -28px;

    &:hover {
      box-shadow: inset 0 -2px 0 #62d1ba;
    }

    &:hover + svg {
      opacity: 1;
      fill: #62d1ba;
    }

    &:focus-visible {
      box-shadow: inset 0 -2px 0 #62d1ba;
      outline: none;
    }

    &:focus-visible + svg {
      opacity: 1;
      fill: #62d1ba;
    }
  }

  .form-contacts__input + svg {
    opacity: 0.2;
  }

  .form-contacts__input::placeholder {
    font-size: 19px;
    padding-left: 17px;
  }

  .form-contacts__label {
    grid-column: 2/3;
    right: 5;
    margin-top: -17px;
  }
}

@media (min-width: @desktop-width) {
  .form-contacts {
    grid-template-columns: 112px 700px;
  }
}
