@media (min-width: @mobile-width) {
  .full-name {
    margin-bottom: 35px;
  }

  .full-name__title {
    padding: 0;
    position: relative;
    margin-bottom: 29px;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 200px;
      top: 8px;
      left: 58px;
      background: #62d1ba;
    }
  }

  .full-name__list {
    padding: 0;
    margin: 0;
  }

  .full-name__item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 21px;
  }

  .full-name__item:last-of-type {
    margin: 0;
  }

  .full-name__label {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #000000;
  }

  .full-name__input {
    padding: 0;
    padding-top: 21px;
    padding-bottom: 13px;
    border: 0;
    border-bottom: 2px solid #000000;

    &:hover {
      border-bottom: 2px solid #62d1ba;
    }

    &:focus-visible {
      border-bottom: 2px solid #62d1ba;
      outline: none;
    }
  }

  .full-name__input::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    color: #000000;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .full-name {
    display: grid;
    grid-template-columns: 167px 1fr;
    margin-top: 68px;
    margin-bottom: 50px;
  }

  .full-name__title {
    grid-column: 1/2;
    margin: 0;

    &::after {
      display: none;
    }
  }

  .full-name__list {
    grid-column: 2/3;
  }

  .full-name__item {
    flex-direction: row;

    &:not(:last-of-type) {
      margin-bottom: 38px;
    }
  }

  .full-name__label {
    margin-right: 25px;
    font-size: 19px;
  }

  .full-name__input {
    margin-top: -15px;
    width: 100%;
  }

  .full-name__input::placeholder {
    font-size: 19px;
    padding-left: 17px;
  }
}

@media (min-width: @desktop-width) {
  .full-name {
    margin-top: 65px;
    grid-template-columns: 128px 700px;
  }

  .full-name__title {
    margin-left: 12px;
    margin-top: 3px;
  }

  .full-name__item:not(:last-of-type) {
    margin-bottom: 39px;
  }
}
