.inner-header {
  font-style: normal;
  font-weight: bold;
}

.inner-header--catalog {
  padding: 73px 42px;
  background-color: #f1f1f1;
  text-align: center;
}

.inner-header--form {
  background-color: #f1f1f1;
  padding: 73px 22px;
  text-align: center;
  display: block;
}

.inner-header__title {
  margin: 0;
  font-family: "Open Sans bold", sans-serif;
  font-size: 27px;
  line-height: 30px;
}
