.inner-nav__list {
  padding: 0;
  margin: 0;
}

.inner-nav__item {
  list-style-type: none;
  padding-top: 24px;
  padding-bottom: 31px;
  padding-left: 30px;
}

.inner-nav__item:first-child {
  background-color: #63d1bb;
  background-image: url("../img/interior.svg");
  background-repeat: no-repeat;
  background-position: right 36px top 23px;
}

.inner-nav__item:last-child {
  background-color: #56c3b2;
  background-image: url("../img/toy.svg");
  background-repeat: no-repeat;
  background-position: right 27px top 21px;
}

.inner-nav__link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  line-height: 24px;
}
