@media (min-width: @mobile-width) {
  .main-nav {
    position: relative;
    width: 100%;
    text-align: center;
  }

  .main-nav__toggle {
    border: 0;
    background-color: #ffffff;
    padding: 22px;
    cursor: pointer;
    position: absolute;
    right: 9px;
    top: 10px;
    z-index: 1;
  }

  .main-nav__toggle::before {
    content: "";
    position: absolute;
    right: 11px;
    width: 20px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
  }

  .main-nav__toggle--close {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 30px;
      right: 11px;
      width: 24px;
      height: 2px;
      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav__logo {
    padding: 20px 0;
  }

  .main-nav__first-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .main-nav__first-list--closed {
    display: none;
  }

  .main-nav__item {
    box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
    padding: 27px 0;
  }

  .main-nav__link {
    color: #000000;
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 28px;
    text-decoration: none;
    display: block;
    letter-spacing: -0.3px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .main-nav__second-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .main-nav__second-list--closed {
    display: none;
  }

  .main-nav__search {
    box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
    padding: 27px 0;
    margin-left: -60px;
  }

  .main-nav__cart {
    box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
    padding: 27px 0;
    margin-left: -20px;
  }

  .main-nav__submenu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;

    a {
      color: #000000;
      font-family: "Open Sans", "Arial", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 28px;
      text-decoration: none;
      display: block;
    }
  }

  .main-nav__note {
    color: #000000;
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    text-align: right;
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: @tablet-width - 100px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto min-content;
  }

  .main-nav__logo {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-right: auto;
    padding-bottom: 16px;
  }

  .main-nav__first-list {
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 18px;
  }

  .main-nav__item {
    box-shadow: none;
    padding: 0;

    &:first-child {
      margin-right: 37px;
    }
  }

  .main-nav__second-list {
    display: flex;
    justify-content: flex-end;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .main-nav__search {
    box-shadow: none;
    width: 82px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  .main-nav__cart {
    box-shadow: none;
    margin-left: 31px;
  }

  .main-nav__note {
    display: block;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 20px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: @desktop-width - 100px;
  }

  .main-nav__wrapper {
    grid-template-columns: 1fr 150px 1fr;
    grid-template-rows: auto min-content;
  }

  .main-nav__logo {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 auto;
    padding-top: 9px;
    padding-bottom: 3px;
  }

  .main-nav__first-list {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 0;
    align-self: center;
  }

  .main-nav__item {
    padding: 28px 0;
  }

  .main-nav__item:first-child {
    margin: 0;
    padding-right: 36px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  .main-nav__item:last-child {
    padding-left: 34px;
  }

  .main-nav__link {
    letter-spacing: 0.8px;
  }

  .main-nav__second-list {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
  }

  .main-nav__search {
    padding: 28px 0;
  }

  .main-nav__cart {
    padding: 28px 0;
  }

  .main-nav__submenu {
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 18px;
  }

  .main-nav__note {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}
