@media (min-width: @mobile-width) {
  .page-header {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    border: none;
  }
}
