.page-header {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 116px;
  padding-right: 31px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
