.production{
  width: 260px;
  margin: 0 auto;
  padding-bottom: 33px;
  border: 1px solid #ececec;
}

.production__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 26px;
  h3{
    margin: 0;
    margin-left: 25px;
    display: inline-block;
  }
}

.production__video {
  position: relative;

  svg {
    position: absolute;
    top: 37px;
    left: 80px;
  }
}

.production__text {
  margin: 0;
  margin-bottom: 41px;
  padding-top: 35px;
  padding-left: 34px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}
