@media (min-width: @mobile-width) {
  .reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 30px;
    margin-bottom: 89px;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/zigzag-line-mobile.svg");
      bottom: -51px;
      left: 0;
      right: 0;
      height: 6px;
    }
  }

  .reviews__title {
    align-self: start;
    margin-top: 0;
    margin-bottom: 14px;
  }

  .reviews__text {
    margin: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: #444444;
    width: 260px;
    margin-bottom: 33px;
  }

  .reviews__author {
    font-family: "Open Sans bold", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;

    cite {
      font-family: "Open Sans", "Arial", sans-serif;
      font-style: normal;
      font-weight: normal;
      display: block;
    }
  }
}

@media (min-width: @tablet-width) {
  .reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    width: @tablet-width - 100px;
    padding: 0 50px;
    padding-top: 78px;
    padding-bottom: 53px;
    margin-bottom: 135px;
  }

  .reviews::before {
    background-image: url("../img/zigzag-line-tablet.svg");
    width: @tablet-width;
    height: 17px;
    bottom: -85px;
  }

  .reviews__title {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    margin: 0;
  }

  .reviews__button {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 175px;
    margin: 0;
    margin-left: auto;
    margin-top: -2px;
    padding-bottom: 14px;
  }

  .reviews__list {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .reviews__author {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .slider__buttons {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-left: auto;
  }

  .reviews__text {
    width: auto;
    font-size: 17px;
    line-height: 30px;
    margin-top: 38px;
    margin-bottom: 61px;

    br {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: @desktop-width - 100px;
    grid-template-columns: 174px 1fr 1fr;
    margin-bottom: 168px;
    padding-bottom: 100px;
  }

  .reviews::before {
    background-image: url("../img/zigzag-line-desktop.svg");
    width: @desktop-width;
    height: 23px;
    bottom: -90px;
  }

  .reviews__title {
    grid-column: 2/3;
  }

  .reviews__button {
    grid-column: 3/4;
  }

  .reviews__list {
    grid-column: 2/4;
  }

  .reviews__text {
    margin-bottom: 45px;
  }

  .reviews__author {
    grid-column: 2/3;
  }

  .slider__buttons {
    grid-column: 3/4;
  }
}
