@media (min-width: @mobile-width) {
  .search__link {
    color: #000000;
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 28px;
    text-decoration: none;

    &:hover span {
      opacity: 0.6;
    }

    &:hover .search-icon {
      fill: #63d1bb;
      opacity: 1;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .search-icon {
    opacity: 0.2;
    margin-right: 26px;

    path {
      fill: inherit;
      opacity: inherit;
    }
  }
}

@media (min-width: @tablet-width) {
  .search__hidden {
    display: none;
  }

  .search__link svg {
    margin: 0;
    margin-top: 7px;
  }
}
