@media (min-width: @mobile-width) {
  .slider__list {
    padding: 0;
    margin: 0;
  }

  .slider__item {
    list-style-type: none;
  }

  .slider__buttons {
    display: flex;
    flex-direction: row;
    border: 1px solid #ececec;
    margin-bottom: 38px;
  }

  .slider__button {
    width: 130px;
    padding: 13px 0;
    background-color: #ffffff;
    border: none;
    cursor: pointer;

    &:hover svg {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .slider__prev {
    border-right: 1px solid #ececec;
  }
}

@media (min-width: @tablet-width) {
  .slider {
    background-image: url("../img/review-tablet.jpg");
    background-repeat: no-repeat;
    background-position: left;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review-tablet@2x.jpg");
      background-size: 350px auto;
    }
  }

  .slider__buttons {
    border: none;
  }

  .slider__button {
    width: 50px;
  }

  .slider__prev {
    border: none;
    margin-right: 37px;
  }
}

@media (min-width: @desktop-width) {
  .slider {
    background-image: url("../img/review-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review-desktop@2x.jpg");
      background-size: 350px auto;
    }
  }
}
